.imageGallery{
    display: flex;
    flex-wrap: wrap;
    width:100% ;
   
}

.imageThumbnail{
    cursor: pointer;
    margin: 10px;
    margin-left: 10%;
}


.imageThumbnail img{
    max-width: 500px;
    border-radius: 15px;
    display: flex;
}

/*Muda foto exposta*/
.imageModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0,0.3);
    display: flex;
    justify-content: center;
    z-index: 999;
}

/*Muda foto exposta*/
.imageModal img{
  margin-top: 2%;
    max-width: 90%;
    max-height: 90%;
}

.closeButton{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

  .fundo_texto {
    background-color: #c1aa8c8c;
    color: #fff1e6;
    width: 40%;
    margin-left: 3%;
  }

  .titulo {
    color: #fff1e6;
    margin-left: 3%;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .img_fundo {
    background-image: url(/impressio/img-fundo.jpg);
    width: 100%;
    height:200px ;
    background-color: #c8b689ae;
    color: #fff1e6;
    padding: 2rem;
  }


  .h1 {
    background-color: #bc854c;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

